<ul class="nav nav- header">
  <li class="nav-item" style="height: 50px;
  ">
    <i class="fas fa-users"><span>Participants</span></i>
  </li>
</ul>
<div class="container-fluid">
    <div class="row after-header">
        <div class="col-md-3">Service Now</div>
        
      <div class="col-md-4 offset-md-5
      ">
      <button type="button" class="btn btn-raised btn-primary" (click)="testclick()">Scripts</button>
      <button type="button" class="btn btn-raised btn-primary">Invite Agent</button>
      <button type="button" class="btn btn-raised btn-danger">End</button>
      
            </div>  
    </div>
  <div class="row">
  <div class="col-md-4">
  <div class="profile-div">
    Profile data
    </div>  
  </div>
  <div class="col-md-8">
    <div class="ticket-form">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
              <div class="left-sub-container-1">
                  <label for="exampleInputPassword1" style="display:block">Subject</label>
                  <input type="text" id="subject" placeholder="Subject">
                </div>
          </div>
          <div class="row left-sub-container-2">
              <div class="col-md-4">
                  <label for="exampleInputPassword1" style="display:block">Impact</label>  
                  <select class="impact-select">
                      <option>Select a option</option>
                    </select>   
              </div>
              <div class="col-md-4">
                  <label for="exampleInputPassword1" style="display:block">Urgency</label>  
                  <select class="urgency-select">
                    <option>Select a option</option>
                  </select>   
              </div>  
              <div class="col-md-4">
                  <button type="button" class="btn btn-raised btn-primary">Create</button>                  
              </div>        
          </div>
        </div>
        <div class="col-md-6">
            <label for="exampleInputPassword1" style="display:block">Set working ticket</label>       
            <input type="text" id="subject" placeholder="Subject">
            <button type="button" class="btn btn-raised btn-primary">Set</button>                              
        </div>
      </div>
    </div>
    <div class="ticket-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">TicketId</th>
                <th scope="col">Subject</th>
                <th scope="col">State</th>
                <th scope="col">Prority</th>
                <th scope="col">Updated on</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>